<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="navbarOrganizer :: resources">

    <link href="../static/assets1/img/favicon.png" th:href="@{/../assets1/img/favicon.png}" rel="icon">
    <link href="../static/assets1/img/apple-touch-icon.png" th:href="@{/../assets1/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets1/css/style.css" th:href="@{/../assets1/css/style.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script SRC="../static/assets1/js/Login.js" th:src="@{/../assets/js/Login.js}"></script>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TheRealDeal</title>
    <!--    <link rel="stylesheet" href="../static/assets.users/search.css" th:href="@{assets.users/search.css}">-->
    <script th:href="@{https://kit.fontawesome.com/b99e675b6e.js}"></script>
    <script th:href="@{https://code.jquery.com/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css"
          th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css"
          th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css"
          th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css"
          th:href="@{assets/fonts/font-awesome.min.css}">
    <!--    <link rel="stylesheet" href="../static/assets.users/css/best-carousel-slide.css" th:href="assets.users/css/best-carousel-slide.css">-->
    <link rel="stylesheet" href="../static/assets/css/card-3-column-animation-shadows-images.css"
          th:href="@{assets/css/card-3-column-animation-shadows-images.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/Navigation-with-Button.css"
          th:href="@{assets/css/Navigation-with-Button.css}">
    <link rel="stylesheet" href="../static/assets/css/Pretty-Footer.css" th:href="@{assets/css/Pretty-Footer.css}">
    <link rel="stylesheet" href="../static/assets/Search-Input-responsive.css"
          th:href="@{assets/Search-Input-responsive.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.css" th:href="@{assets/css/styles.css}">

</head>

<body>
<div th:replace="/navbarOrganizer"></div>
<div  class="search">
<!--    <form form class="d-flex" th:id="searchForm" role="search" id="form" th:action="@{/all-contests}" method="post">-->
<!--        <input class="form-control me-2" th:id="searchInput" type="text" id="query" name="q"-->
<!--               placeholder="Search for title..."-->
<!--               aria-label="Search through site content"-->
<!--               th:name="search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--    </form>-->

    <div  class="search">
        <form form class="d-flex" th:id="searchForm" role="search" id="form" th:action="@{/contests}" method="post">
            <input class="form-control me-2" th:id="searchInput" type="text" id="query" name="q"
                   placeholder="Search for contest..."
                   aria-label="Search through site content"
                   th:name="search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

    </div>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Phase_1</th>
            <th scope="col">Phase_2</th>



        </tr>
        </thead>
        <tbody th:each="contest : ${contests}">
        <tr>
            <td th:text="${contest.getTitle()}"></td>
            <td th:text="${contest.getContestCategory().getName()}"></td>
            <td th:text="${contest.getPhase_1()}"></td>
            <td th:text="${contest.getPhase_2()}"></td>
            <td><a th:href="@{/contests/{id}(id = ${contest.getId()})}">View</a></td>

        </tr>

        </tbody>
    </table>

    <!--    <div class="text-center">-->
    <!--        <div class="text-end float-start float-md-end mt-5 mt-md-0 search-area"><i class="fas fa-search float-start search-icon"></i>-->
    <!--            <input class="float-start float-sm-end custom-search-input" type="search" placeholder="Type to filter by address" style="text-align: center;margin-right: 740px;">-->
    <!--        </div>-->

    <script src="../static/assets/bootstrap/js/bootstrap.min.js" th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../static/assets/js/bs-init.js" th:src="@{assets/js/bs-init.js}"></script>
<!--    <script src="../static/assets/js/search.js" th:src="@{assets.users/js/search.js}"></script>-->
</body>

</html>