<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Capture</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="../static/assets1/img/favicon.png" th:href="@{/../assets1/img/favicon.png}" rel="icon">
	<link href="../static/assets1/img/apple-touch-icon.png" th:href="@{/../assets1/img/apple-touch-icon.png}"
	      rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
	      th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
	      rel="stylesheet">
	<!-- Vendor CSS Files -->
	<link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
	      th:href="@{/../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
	      th:href="@{/../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/boxicons/css/boxicons.min.css"
	      th:href="@{/../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
	      th:href="@{/../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/swiper/swiper-bundle.min.css"
	      th:href="@{/../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="../static/assets1/css/style.css" th:href="@{/../assets1/css/style.css}" rel="stylesheet">

	<!-- =======================================================
	* Template Name: Folio - v4.1.0
	* Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class=" ">
	<div class="container d-flex align-items-center justify-content-between">

		<a href="#"  class="logo"><img src="../static/assets1/img/logo.png"
		                                            alt="" class="img-fluid"></a>
		<!-- Uncomment below if you prefer to use an text logo -->
		<!--		 <h1 class="logo"><a href="index.html">Folio</a></h1> -->

		<nav id="navbar" class="navbar">
			<ul>
				<li ><a class="nav-link  scrollto" href="organiserProfile.html" >View users</a></li>
				<li  class="dropdown"><a href="#"><span>Create</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#">Contest</a></li>
						<li><a href="#">Category</a></li>
					</ul>
				</li>
				<li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="#">View profile</a></li>
						<li><a href="#">Edit profile</a></li>
					</ul>
				</li>
				<li>
					<a class="nav-link scrollto" href="logoutPage.html">Logout</a>
				</li>
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->

	</div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->

<main id="main">
	<div  class="text-info">
		<div class="container">
			<div class="section-title text-center">
				<h2 >My Portfolio</h2>
				<h3 >My Portfolio</h3>
			</div>
			<div class="portfolio-info row gy-4">
				<div class="col-lg-10"></div>
			</div>
		</div>
		<div  class="text-info">
			<div class="container">
				<div class="section-title text-center">
					<h2>My Portfolio</h2>
					<h3>My Portfolio</h3>
					<a  class="btn btn-primary btn-send " style="margin-top: 40px">Submit Photo</a>
				</div>
			</div>
		</div>
	</div>

	<>
		<section id="portfolio-details" class="portfolio-details">
			<div class="container">
				<div class="row gy-4">
					<div class="col-lg-8">
						<div class="portfolio-details-slider ">
							<div class="swiper-slide">
								<img src="../static/assets1/img/portfolio/portfolio-details-1.jpg">
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="portfolio-info">
							<h2>Photo information</h2>
							<ul>
								<li>
									<h3 class="text-info">Winning Photo</h3>
									<h4 class="text-info">Second Place</h4>
									<h4 class="text-info">Third Place</h4>
								<li>
									<label th:text="Score">Totall Score</label>
									<label type="number"></label>
								</li>
								<li>
									<a class="btn btn-defeault btn-send">Check Comments</a>
								</li>
								</li>
							</ul>
						</div>
						<div class="portfolio-description">
							<h2>Photo Story</h2>
							<p >Story about the photo</p>
						</div>
					</div>
				</div>

			</div>
		</section><!-- End Portfolio Details Section -->



</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
	<div class="container">
		<div class="socials-media text-center">

			<ul class="list-unstyled">
				<li><a href="#"><i class="bi bi-facebook"></i></a></li>
				<li><a href="#"><i class="bi bi-twitter"></i></a></li>
				<li><a href="#"><i class="bi bi-instagram"></i></a></li>
				<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
			</ul>

		</div>

		<p>© 2021 Capture, Inc.</p>

		<div class="credits">
			<!--
			All the links in the footer should remain intact.
			You can delete the links only if you purchased the pro version.
			Licensing information: https://bootstrapmade.com/license/
			Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
		  -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>

	</div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/../assets1/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets1/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/../assets1/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets1/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/../assets1/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets1/vendor/php-email-form/validate.js"
        th:src="@{/../assets1/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets1/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/../assets1/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets1/vendor/typed.js/typed.min.js" th:src="@{/../assets1/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets1/js/main.js" th:src="@{/../assets1/js/main.js}"></script>

</body>

</html>