<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="navbarOrganizer :: resources">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>Capture</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="../static/assets1/img/favicon.png" th:href="@{../assets1/img/favicon.png}" rel="icon">
	<link href="../static/assets1/img/apple-touch-icon.png" th:href="@{../assets1/img/apple-touch-icon.png}"
	      rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
	      th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
	      rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
	      th:href="@{../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
	      th:href="@{../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link href="../static/assets/vendor/boxicons/css/boxicons.min.css"
	      th:href="@{../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
	      th:href="@{../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
	<link href="../static/assets1/vendor/swiper/swiper-bundle.min.css"
	      th:href="@{../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="../static/assets1/css/style.css" th:href="@{../assets1/css/style.css}" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
	      id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	        th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
	<script SRC="../static/assets1/js/Login.js" th:src="@{../assets1/js/Login.js}"></script>

	<link rel="stylesheet" th:href="@{assets/selector/style.css}" href="../static/assets/selector/style.css">
	<!-- =======================================================
	* Template Name: Folio - v4.1.0
	* Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>
<body>
<div th:replace="/navbarOrganizer"></div>
<!--<div th:replace="/navbar"></div>-->

<!-- ======= Header ======= -->
<!--<header id="header" class=" ">-->
<!--	<div class="container d-flex align-items-center justify-content-between">-->

<!--		<a href="#"  class="logo"><img src="../static/assets1/img/logo.png"-->

<!--		                                             alt="" class="img-fluid"></a>-->
<!--		&lt;!&ndash; Uncomment below if you prefer to use an text logo &ndash;&gt;-->
<!--		&lt;!&ndash;		 <h1 class="logo"><a href="index.html">Folio</a></h1> &ndash;&gt;-->

<!--		-->

<!--	</div>-->
<!--</header>&lt;!&ndash; End Header &ndash;&gt;-->

<!-- ======= Hero Section ======= -->

<div id="contact" class="paddsection">
	<div class="container">
		<div class="contact-block1">
			<div class="row">

				<div class="col-lg-6">
					<div class="contact-contact">

						<h2 class="mb-30">CREATE CONTEST</h2>

					</div>
				</div>
				<div class="col-lg-6">
					<form action="#" th:action="@{/organiser/create}" th:object="${contestCreateDto}" method="post"
						  role="form" enctype="multipart/form-data">
						<div class="col-lg-12">
							<label type="text" class="error-message" th:text="${error}" >General Error</label>
						</div>
						<div class="row gy-3">
							<div class="col-lg-12">
								<label class="control-label col-lg-12">Contest title <span
										class="required"></span></label>
								<div class="form-group contact-block1">
									<input type="text"  th:text="*{title}" name="title" class="form-control" id="title"
									       required>
									<label class="error" th:errors="*{title}" >TitleError</label>
								</div>
							</div>

							<div class="col-lg-12">
								<label  class="control-label col-lg-12">Contest category <span
										class="required"></span></label>
								<div class="form-group">
									<select class="form-control" th:field="*{categoryType}">
										<option th:each="category: ${categories}"
												th:field="*{categoryType}"
												th:value="${{category.getId()}}"
												th:text="${category.getName()}">

										</option>
									</select>
								</div>
							</div>
							<div class="col-lg-10">
								<label for="cemail1" class="control-label col-lg-10">End of phase 1<span
										class="required"></span></label>
								<input class="form-control" id="cemail1" name="arrivalDate" type="date"
									   th:field="*{daysPhase1}"/>
								<label class="error" >ArrivalDateError</label>
							</div>
							<div class="col-lg-10">
								<label for="cemail2" class="control-label col-lg-10">End of phase 2<span
										class="required"></span></label>
								<input class="form-control " id="cemail2" name="arrivalDate" type="number" min="1"
								       max="24"
									   th:field="*{hoursPhase2}"/>
								<label class="error" >ArrivalDate</label>
							</div>
<!--							<div class="col-lg-12">-->
<!--								<label class="control-label col-lg-12">Invite juries<span-->
<!--										class="required"></span></label>-->
<!--								<div class="form-group">-->
<!--									<select multiple="multiple" th:field="*{juryList}" class="custom-select">-->
<!--										<option th:each="user : ${juries}"-->
<!--												th:field="*{juryList}"-->
<!--												th:value="${user.getUserID()}"-->
<!--												th:text="${user.getName()}">-->
<!--										</option>-->
<!--									</select>-->
<!--								</div>-->
							<div class="col-lg-12" style="display: flex">
<!--								<div class="form-group">-->
<!--									<input type="file" name="image"  class="form-control-file">-->
<!--								</div>-->
								<div class="form-group col-lg-6">
									<label for="exampleFormControlFile1">Choose contest cover photo</label>
									<input input  type="file" class="custom-file" name="image"
									       id="exampleFormControlFile1" required>
								</div>
								<div class="custom-checkbox" style="display: flex">
									<label>Open</label>
									<input type="checkbox" id="checkbox-isOpen">
								</div>
							</div>
							<div class="col-md-5">
								<section class="ftco-section">
									<div class="container">
										<div class="row justify-content-center">
											<div class="col-md-8 col-lg-5 d-flex justify-content-center align-items-center">
												<div class="d-flex text-left align-items-center w-100">
													<strong class="sl">Jury</strong>
													<select id="multiple-checkboxes2" multiple="multiple" th:field="*{juryList}">
														<option th:each="user : ${juries}"
																th:value="${user.getUserID()}"
																th:text="${user.getName()}">
															Participant
														</option>
													</select>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
						</div>
							<button type="submit" class="btn btn-defeault btn-send" value="Create Contest">Create
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div><!-- End Contact Section -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
	<div class="container">
		<div class="socials-media text-center">

			<ul class="list-unstyled">
				<li><a href="#"><i class="bi bi-facebook"></i></a></li>
				<li><a href="#"><i class="bi bi-twitter"></i></a></li>
				<li><a href="#"><i class="bi bi-instagram"></i></a></li>
				<li><a href="#"><i class="bi bi-linkedin"></i></a></li>
			</ul>

		</div>

		<p>© 2021 Capture, Inc.</p>

		<div class="credits">
			<!--
			All the links in the footer should remain intact.
			You can delete the links only if you purchased the pro version.
			Licensing information: https://bootstrapmade.com/license/
			Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
		  -->
			Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
		</div>

	</div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../assets1/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets1/vendor/glightbox/js/glightbox.min.js"
        th:src="@{../assets1/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets1/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{../assets1/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets1/vendor/php-email-form/validate.js"
        th:src="@{../assets1/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets1/vendor/swiper/swiper-bundle.min.js"
        th:src="@{../assets1/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets1/vendor/typed.js/typed.min.js" th:src="@{../assets1/vendor/typed.js/typed.min.js}"></script>

<script th:src="@{/assets/selector/jquery.min.js}" src="../static/assets/selector/jquery.min.js"></script>
<script th:src="@{/assets/selector/popper.js}" src="../static/assets/selector/popper.js"></script>
<script th:src="@{/assets/selector/bootstrap.min.js}" src="../static/assets/selector/bootstrap.min.js"></script>
<script th:src="@{/assets/selector/bootstrap-multiselect.js}" src="../static/assets/selector/bootstrap-multiselect.js"></script>
<script th:src="@{/assets/selector/main.js}" src="../static/assets/selector/main.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets1/js/main.js" th:src="@{../assets1/js/main.js}"></script>


</body>

</html>