<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:insert="navbar :: resources">-->
<head th:insert="navbar :: resources">
    <!-- Favicons -->
    <link href="../static/assets1/img/favicon.png" th:href="@{/../assets1/img/favicon.png}" rel="icon">
    <link href="../static/assets1/img/apple-touch-icon.png" th:href="@{/../assets1/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets1/css/style.css" th:href="@{/../assets1/css/style.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script SRC="../static/assets1/js/Login.js" th:src="@{/../assets/js/Login.js}"></script>





    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TheRealDeal</title>
    <link rel="stylesheet" href= "../static/assets/bootstrap/css/bootstrap.min.css"th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="../static/https://fonts.googleapis.com/css?family=Cookie&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css"th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/assets/css/best-carousel-slide.css"th:href="@{assets/css/best-carousel-slide.css}">
    <link rel="stylesheet" href="../static/assets/css/card-3-column-animation-shadows-images.css"th:href="@{assets/css/card-3-column-animation-shadows-images.css}">
    <link rel="stylesheet" href="../static/https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/Navigation-with-Button.css"th:href="@{assets/css/Navigation-with-Button.css}">
    <link rel="stylesheet" href="../static/assets/css/Pretty-Footer.css"th:href="@{assets/css/Pretty-Footer.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.css"th:href="@{assets/css/Pretty-Footer.css}">
</head>

<body>
<div th:replace="/navbar"></div>
<!--<div th:replace="/navbar"></div>-->


    <div id="carousel" style="height: 700px;">
        <section id="carousel">
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="bg-light border rounded border-light pulse animated hero-nature carousel-hero jumbotron py-5 px-4" style="height: 800px;">
                            <h1 style="font-family: Aldrich, sans-serif;font-size: 80px;margin-top: 600px;margin-right: 1100px;">Inspire</h1>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bg-light border rounded border-light pulse animated hero-photography carousel-hero jumbotron py-5 px-4" style="height: 800px;">
                            <h1 style="font-family: Aldrich, sans-serif;font-size: 80px;margin-top: 600px;margin-right: 1100px;">Explore</h1>
                        </div>
                    </div>
                    <div class="carousel-item active">
                        <div class="bg-light border rounded border-light pulse animated hero-technology carousel-hero jumbotron py-5 px-4" style="height: 800px;">
                            <h1 style="font-size: 80px;font-family: Aldrich, sans-serif;margin-top: 600px;margin-right: 1100px;">Create</h1>
                        </div>
                    </div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="2" class="active"></li>
                </ol>
            </div>
        </section>
    </div>
    <div id="welcome" style="margin-top: 168px;">
        <div class="container site-intro" id="welcome" style="padding-bottom: 16px;">
            <h1 class="text-center" style="font-family: Aldrich, sans-serif;"><span style="color: #2dd603;">Top Junkies</span>&nbsp;</h1>
        </div>
    </div>
<!--    <div id="cards">-->
<!--        <div class="p-5 mb-4 bg-light round-3" style="margin-top: 35px;height: 702.891px;background: linear-gradient(-134deg, rgba(0,0,0,0.57) 0%, rgba(255,255,255,0.18) 78%), url(&quot;assets/img/biel-morro-ZpKxweXHqkc-unsplash-modified.jpg&quot;) center / cover no-repeat, var(&#45;&#45;bs-pink);">-->
<!--            <section style="margin-top: 25px;">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">-->
<!--                            <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="../static/assets/img/create.jpg" th:src="@{assets/img/create.jpg}">-->
<!--                                <div class="card-body">-->
<!--                                    <h3 class="text-center">Take your best shot</h3>-->
<!--                                    <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>-->
<!--                                    <h5 style="color: #2dd603;">Heading</h5>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu ac tortor dignissim convallis aenean. Dignissim cras tincidunt.<br></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;margin-right: 0px;margin-bottom: 0px;">-->
<!--                            <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="../static/assets/img/participate.jpg" th:src="@{assets/img/participate.jpg}">-->
<!--                                <div class="card-body">-->
<!--                                    <h3 class="text-center">Work with us</h3>-->
<!--                                    <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>-->
<!--                                    <h5 style="color: #2dd603;">Heading</h5>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu ac tortor dignissim convallis aenean. Dignissim cras tincidunt.<br></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4" style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">-->
<!--                            <div class="bg-light border rounded shadow card" data-bss-hover-animate="pulse"><img class="card-img-top" src="../static/assets/img/inspire4.jpg" th:src="@{assets/img/inspire4.jpg}">-->
<!--                                <div class="card-body">-->
<!--                                    <h3 class="text-center">Support</h3>-->
<!--                                    <p class="card-text" style="font-family: Antic, sans-serif;color: rgb(81,87,94);"></p>-->
<!--                                    <h5 style="color: #2dd603;">Heading</h5>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu ac tortor dignissim convallis aenean. Dignissim cras tincidunt.<br></p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
<!--        </div>-->
<!--    </div>-->

<div class="container">
    <div class="section-title text-center ">
        <h2>Top Photo Junkies</h2>
    </div>
</div>

<div class="container">
    <table class="table" >
        <tr>
            <th>Name</th>
            <th>Score</th>
            <th>Rank</th>
        </tr>
        <tr th:each="user : ${topJunkies}">
            <td>
                <a th:text="${user.getFirstName() + ' ' + user.getLastName()}">name</a>
            </td>
            <td>
                <a th:text="${user.getScore()}">score</a>
            </td>
            <td>
                <a th:text="${user.getRank()}">master</a>
            </td>
        </tr>
    </table>
</div>

</div><


    <div id="table"></div>
    <div id="footer">
        <footer>
            <div class="row">
                <div class="col-sm-6 col-md-4 footer-navigation">
                    <h3 style="font-family: Aldrich, sans-serif;"><a href="#">Photo<span style="color: #2dd603;">Contest</span></a></h3>
                    <p class="links" style="font-family: Aldrich, sans-serif;"><a href="#">Home</a><strong>&nbsp;· </strong><a href="#">Contact</a>&nbsp;<br></p>
                    <p class="company-name">Two Cool Dudes © 2022</p>
                </div>
                <div class="col-sm-6 col-md-4 footer-contacts">
                    <div style="font-family: Aldrich, sans-serif;"><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
                    </div>
                    <div style="font-family: Aldrich, sans-serif;"><i class="fa fa-phone footer-contacts-icon"></i>
                        <p class="footer-center-info email text-start"> +1 555 123456</p>
                    </div>
                </div>
                <div class="col-md-4 footer-about" style="font-family: Aldrich, sans-serif;">
                    <h4>About the company</h4>
                    <p>Created in the middle of the night by Two Cool Dudes Inc.</p>
                    <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js" th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
    <script src="../static/assets/js/bs-init.js" th:src="@{assets/js/bs-init.js}"></script>
</body>

</html>