<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="navbarJunkie :: resources">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Capture</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets1/img/favicon.png" th:href="@{../assets1/img/favicon.png}" rel="icon">
    <link href="../static/assets1/img/apple-touch-icon.png" th:href="@{../assets1/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets1/css/style.css" th:href="@{../assets1/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Folio - v4.1.0
    * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<div th:replace="/navbarJunkie"></div>
<!-- ======= Header ======= -->
<!--<header id="header" class=" ">-->
<!--    <div class="container d-flex align-items-center justify-content-between">-->

<!--        <a href="#" th:href="@{/}" class="logo"><img src="../static/assets1/img/logo.png" th:src="@{/../assets1/img/logo.png}" alt="" class="img-fluid"></a>-->
<!--        &lt;!&ndash; Uncomment below if you prefer to use an text logo &ndash;&gt;-->
<!--        &lt;!&ndash;		 <h1 class="logo"><a href="index.html">Folio</a></h1> &ndash;&gt;-->

<!--        <nav id="navbar" class="navbar">-->
<!--            <ul>-->
<!--                <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                    <ul>-->
<!--                        <li><a href="#" >View profile</a></li>-->
<!--                        <li><a href="#" >Edit profile</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a class="nav-link scrollto" href="logoutPage.html" >Logout</a></li>-->
<!--            </ul>-->
<!--            <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--        </nav>&lt;!&ndash; .navbar &ndash;&gt;-->

<!--    </div>-->
<!--</header>&lt;!&ndash; End Header &ndash;&gt;-->

<!--&lt;!&ndash; ======= Hero Section ======= &ndash;&gt;-->

<!--<main id="main">-->

<!--    &lt;!&ndash; ======= Portfolio Section ======= &ndash;&gt;-->
<!--    <div id="portfolio" class="paddsection">-->

<!--        <div class="container">-->
<!--            <div class="section-title text-center">-->
<!--                <h2>Contests</h2>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="container">-->

            <nav class="row">
                <div class="col-lg-12 d-flex justify-content-center navbar">
                    <ul>
                        <a href="logoutPage.html" >Available</a>
                        <a >Participating</a>
                        <a >Finished</a>
                        <a >Judging</a>
                    </ul>
                </div>
            </nav>

<!--            <div class="row portfolio-container">-->

<!--                <div th:each="contest : ${contests}" class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--                    <img src="../static/assets/img/portfolio/portfolio-1.jpg" th:src="${contest.getCoverPhoto()}"-->
<!--                         class="img-fluid" alt="">-->
<!--&lt;!&ndash;                    <div class="portfolio-info">&ndash;&gt;-->
<!--&lt;!&ndash;                        <h4 th:text="${contest.getTitle()}">ContestTitle</h4>&ndash;&gt;-->
<!--&lt;!&ndash;                        <p th:text="${contest.getCategory()}">ContestCategory</p>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a th:if="${canEnroll}" href="#" th:href="@{/contest/enroll/{id}(id=${contest.getId()})}" title="Enroll" class="preview-link" ><i class="bx bx-plus"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a th:unless="${canEnroll}" href="#" th:href="@{/contest/{id}(id=${contest.getId()})}" class="details-link" title="View contest"><i class="bx bx-link"></i></a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->

        </div>

    </div><!-- End Portfolio Section -->
</div>




    <!-- ======= Contact Section ======= -->


</main><!-- End #main -->

<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
    <div class="container">
        <div class="socials-media text-center">

            <ul class="list-unstyled">
                <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
            </ul>

        </div>

<!--        <div class="row portfolio-container">-->

<!--            <div th:each="contest : ${contests}" class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--                <img src="../static/assets1/img/portfolio/portfolio-1.jpg" th:src="${contest.getCoverPhoto()}"-->
<!--                     class="img-fluid" alt="">-->
<!--                <div class="portfolio-info">-->
<!--                    <h4 th:text="${contest.getTitle()}">ContestTitle</h4>-->
<!--                    <p th:text="${contest.getCategory()}">ContestCategory</p>-->
<!--                    <a th:if="${canEnroll}" href="#" th:href="@{/contest/enroll/{id}(id=${contest.getId()})}" title="Enroll" class="preview-link" ><i class="bx bx-plus"></i></a>-->
<!--                    <a th:unless="${canEnroll}" href="#" th:href="@{/contest/{id}(id=${contest.getId()})}" class="details-link" title="View contest"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->



    </div>
</div><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{../assets1/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets1/vendor/glightbox/js/glightbox.min.js"
        th:src="@{../assets1/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets1/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{../assets1/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets1/vendor/php-email-form/validate.js"
        th:src="@{../assets1/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets1/vendor/swiper/swiper-bundle.min.js"
        th:src="@{../assets1/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets1/vendor/typed.js/typed.min.js" th:src="@{../assets1/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets1/js/main.js" th:src="@{../assets1/js/main.js}"></script>

</body>

</html>