<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resources">

    <!-- Favicons -->
    <link href="../static/assets1/img/favicon.png" th:href="@{/../assets1/img/favicon.png}" rel="icon">
    <link href="../static/assets1/img/apple-touch-icon.png" th:href="@{/../assets1/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets1/css/style.css" th:href="@{/../assets1/css/style.css}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet"
          id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script SRC="../static/assets1/js/Login.js" th:src="@{/../assets/js/Login.js}"></script>






    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TheRealDeal</title>
    <link rel="stylesheet" href= "../static/assets/bootstrap/css/bootstrap.min.css"th:href="@{assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/https://fonts.googleapis.com/css?family=Aldrich&amp;display=swap">
    <link rel="stylesheet" href="../static/https://fonts.googleapis.com/css?family=Cookie&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css"th:href="@{assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" href="../static/assets/css/best-carousel-slide.css"th:href="@{assets/css/best-carousel-slide.css}">
    <link rel="stylesheet" href="../static/assets/css/card-3-column-animation-shadows-images.css"th:href="@{assets/css/card-3-column-animation-shadows-images.css}">
    <link rel="stylesheet" href="../static/https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/Navigation-with-Button.css"th:href="@{assets/css/Navigation-with-Button.css}">
    <link rel="stylesheet" href="../static/assets/css/Pretty-Footer.css"th:href="@{assets/css/Pretty-Footer.css}">
    <link rel="stylesheet" href="../static/assets/css/styles.css"th:href="@{assets/css/Pretty-Footer.css}">
</head>
<body>


<nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link scrollto active" href="/">Home</a></li>
        <!--        <li><a class="nav-link  scrollto" href="/users" >View users</a></li>-->

        <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a th:href="@{/users/{id}(id=${session.loggedId})}" >View profile</a></li>
                <li><a href="#" >Edit profile</a></li>
                <li>
                    <a class="nav-link scrollto" th:if="${session.currentUser}" th:href="@{/auth/logout}">Logout</a>
                </li>
                <li>
                    <a class="nav-link scrollto" th:unless="${session.currentUser}" th:href="@{/auth/login}">Log In</a>
                </li>
            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>View</span> <i class="bi bi-chevron-down"></i></a>
            <ul>


                <li>
                    <a class="nav-link scrollto" href="/contests/open">Open contests</a>
                </li>

            </ul>
        </li>
        <!--        <li>-->
        <!--            <a class="nav-link scrollto" th:if="${session.currentUser}" th:href="@{/auth/logout}">Logout</a>-->
        <!--        </li>-->
        <!--        <li>-->
        <!--            <a class="nav-link scrollto" th:unless="${session.currentUser}" th:href="@{/auth/login}">Log In</a>-->
        <!--        </li>-->




    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
</nav><!-- .navbar -->






<!--<nav class="navbar navbar-light navbar-expand-lg navigation-clean-button" style="height: 90px;">-->
<!--    <div class="container"><a class="navbar-brand" href="/" style="font-size: 25px;font-weight: bold;font-family: Aldrich, sans-serif;">Photo&nbsp;<span style="color: #2dd603;">Contest</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>-->
<!--        <div class="collapse navbar-collapse" id="navcol-2" style="font-size: 20px;">-->
<!--            <ul class="navbar-nav ms-auto">-->
<!--                <li class="nav-item"></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="/">Home</a><a class="nav-link" href="/" style="margin-top: -46px;">Home</a></li>-->
<!--                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Menu&nbsp;</a>-->
<!--                    <div class="dropdown-menu"><a class="dropdown-item" href="/users">All users</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a><a class="dropdown-item" href="#">Menu Item</a></div>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <span class="navbar-text actions" style="margin-top: 4px;"> <a class="btn btn-light action-button" role="button" data-bss-hover-animate="tada" th:unless="${session.currentUser}" th:href="@{/auth/login}" style="background: #2dd603;" >Log In</a></span>-->
<!--            <span class="navbar-text actions" style="margin-top: 4px;"> <a class="btn btn-light action-button" role="button" data-bss-hover-animate="tada" th:if="${session.currentUser}" th:href="@{/auth/logout}" style="background: #2dd603;" >Log Out</a></span>-->
<!--        </div>-->
<!--    </div>-->

<!--</nav>-->
</body>
</html>