<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:insert="navbarJunkie :: resources">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Capture</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" th:href="@{/../assets/img/favicon.png}" rel="icon">
    <link href="../static/assets/img/apple-touch-icon.png" th:href="@{/../assets/img/apple-touch-icon.png}"
          rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i}"
          rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="../static/assets1/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/../assets1/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/bootstrap-icons/bootstrap-icons.css"
          th:href="@{/../assets1/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/boxicons/css/boxicons.min.css"
          th:href="@{/../assets1/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link href="../static/assets1/vendor/glightbox/css/glightbox.min.css"
          th:href="@{/../assets1/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link href="../static/assets/vendor/swiper/swiper-bundle.min.css"
          th:href="@{/../assets1/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../static/assets1/css/style.css" th:href="@{/../assets1/css/style.css}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Folio - v4.1.0
    * Template URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
<div th:replace="/navbarJunkie"></div>

<!-- ======= Header ======= -->
<!--<header id="header" class=" ">-->
<!--    <div class="container d-flex align-items-center justify-content-between">-->

<!--        <a href="#"  class="logo"><img src="../static/assets1/img/logo.png" alt="" class="img-fluid"></a>-->
<!--        &lt;!&ndash; Uncomment below if you prefer to use an text logo &ndash;&gt;-->
<!--        &lt;!&ndash;		 <h1 class="logo"><a href="index.html">Folio</a></h1> &ndash;&gt;-->

<!--        <nav id="navbar" class="navbar">-->
<!--            <ul>-->
<!--                <li ><a class="nav-link  scrollto" href="organiserProfile.html" >View users</a></li>-->
<!--                <li  class="dropdown"><a href="#"><span>Create</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                    <ul>-->
<!--                        <li><a href="#" >Contest</a></li>-->
<!--                        <li><a href="#" >Category</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                    <ul>-->
<!--                        <li><a href="#" >View profile</a></li>-->
<!--                        <li><a href="#" >Edit profile</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                    <a class="nav-link scrollto" href="logoutPage.html" >Logout</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <i class="bi bi-list mobile-nav-toggle"></i>-->
<!--        </nav>&lt;!&ndash; .navbar &ndash;&gt;-->

<!--    </div>-->
<!--</header>&lt;!&ndash; End Header &ndash;&gt;-->

<!-- ======= Hero Section ======= -->

<main id="main">
    <br></br>
    <div class="container">
    <div class="col-lg-4 ">
        <div class="portfolio-info align-content-center">
            <h2>Profile information</h2>
            <ul>
                <li>
                    <label>Username: </label> <label  type="text"  th:text="${user.getUsername()}"></label>
                </li>

                <li>
                    <label>Full name: </label> <label  type="text"  th:text="${user.getFirstName() + ' ' + user.getLastName()}"></label>
                </li>

                <li>
                    <label>Email: </label> <label  type="text"  th:text="${user.getEmail()}"></label>
                </li>

                <li>
                    <label>Rank: </label> <label type="text" th:text="${user.getRank()}" ></label>
                </li>
                <li>
                    <label>Points: </label><label type="number" th:text="${user.getPoints()}"></label>
                </li>
<!--                <li>-->
<!--                    <label>Points until next rank: </label> <label type="text"></label>-->
<!--                </li>-->
            </ul>
            <a th:if="${isOrganizer}" th:href="@{__${#httpServletRequest.requestURI}__/promote}"> <button type="button" class="btn btn-light">Promote</button></a>

<!--         <a th:if="${user.getUserId() == loggedUser.getUserId()}"-->
<!--            th:href="@{__${#httpServletRequest.requestURI}__/update}">   <button type="button" class="btn btn-light">Update</button> </a>-->
        </div>
    </div>
    </div>


<!--        <section id="portfolio-details" class="portfolio-details">-->
<!--            <div class="container">-->
<!--                <div class="row gy-4">-->
<!--                    <div class="col-lg-8">-->
<!--                        <div class="portfolio-details-slider ">-->
<!--                            <div class="swiper-slide">-->
<!--                                <img src="../static/assets1/img/portfolio/portfolio-details-1.jpg" th:src="@{assets1/img/portfolio/portfolio-details-1.jpg}">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4">-->
<!--                        <div class="portfolio-info">-->
<!--                            <h2>Photo information</h2>-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <label>Contest: </label> <label type="text"></label>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                <label>Title: </label> <label type="text"></label>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                <label>Score: </label>-->
<!--                                <label type="number"></label>-->
<!--                                </li>-->
<!--                                <li>-->
<!--                                    <a class="btn btn-defeault btn-send">Check Comments</a>-->
<!--                                </li>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                        <div class="portfolio-description">-->
<!--                            <h2>Photo Story</h2>-->
<!--                            <p>Story about the photo</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->
<!--        </section>&lt;!&ndash; End Portfolio Details Section &ndash;&gt;-->

    </th:block>

</main><!-- End #main -->

<!--&lt;!&ndash; ======= Footer ======= &ndash;&gt;-->
<!--<div id="footer" class="text-center">-->
<!--    <div class="container">-->
<!--        <div class="socials-media text-center">-->

<!--            <ul class="list-unstyled">-->
<!--                <li><a href="#"><i class="bi bi-facebook"></i></a></li>-->
<!--                <li><a href="#"><i class="bi bi-twitter"></i></a></li>-->
<!--                <li><a href="#"><i class="bi bi-instagram"></i></a></li>-->
<!--                <li><a href="#"><i class="bi bi-linkedin"></i></a></li>-->
<!--            </ul>-->

<!--        </div>-->

<!--        <p>© 2021 Capture, Inc.</p>-->

<!--        <div class="credits">-->
<!--            &lt;!&ndash;-->
<!--            All the links in the footer should remain intact.-->
<!--            You can delete the links only if you purchased the pro version.-->
<!--            Licensing information: https://bootstrapmade.com/license/-->
<!--            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio-->
<!--          &ndash;&gt;-->
<!--            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>&lt;!&ndash; End Footer &ndash;&gt;-->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/../assets1/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="../static/assets1/vendor/glightbox/js/glightbox.min.js"
        th:src="@{/../assets1/vendor/glightbox/js/glightbox.min.js}"></script>
<script src="../static/assets1/vendor/isotope-layout/isotope.pkgd.min.js"
        th:src="@{/../assets1/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script src="../static/assets1/vendor/php-email-form/validate.js"
        th:src="@{/../assets1/vendor/php-email-form/validate.js}"></script>
<script src="../static/assets1/vendor/swiper/swiper-bundle.min.js"
        th:src="@{/../assets1/vendor/swiper/swiper-bundle.min.js}"></script>
<script src="../static/assets1/vendor/typed.js/typed.min.js" th:src="@{/../assets1/vendor/typed.js/typed.min.js}"></script>


<!-- Template Main JS File -->
<script src="../static/assets1/js/main.js" th:src="@{/../assets1/js/main.js}"></script>

</body>

</html>